<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Dashboard</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">
    <h2>Welcome, <span th:text="${patient.name}"></span></h2>

    <p>Email: <span th:text="${patient.email}"></span></p>
    <p>Phone: <span th:text="${patient.phone}"></span></p>

    <hr>

    <!-- View Doctors -->
<a th:href="@{/patient/doctors}" class="btn">View Doctors</a>
<a th:href="@{/patient/appointments}" class="btn">My Appointments</a>
<a th:href="@{/patient/logout}" class="btn action-delete">Logout</a>
</div>
<div th:replace="fragments/header :: body"></div>
</body>
</html>
